<h2>New post</h2>
<div class="col-md-6">
<form id="newPostForm">
<div class="row">
<label>
    Title:
</label>
{{input class="form-control" placeholder="Title" value=title}}
</div>
<div class="row">
<br>
<label>
    Content:
</label>
{{textarea class="form-control" placeholder="Content" value=body}}
</div>
<div class="row">
<br>
<button class="btn btn-default" {{action "addNew"}}>Save</button>
</form>
</div>
</div>
<div class="col-md-6">
<div class="row">
  {{title}}
</div>
<div class="row">
  {{body}}
</div>
</div>
